extends layout

block content
  section.info
    .container
      .row
        .col-md-4
          .panel.panel-default
            .panel-body
              h3.name-center #{company.name}
              hr
              h4 אתר: #{company.website}
              h4 טלפון: #{company.telephone}
              h4 אימייל: #{user.email}

        .col-md-8
          .panel.panel-default
            .panel-body
              h3 
                | אפליקציה
                a.btn.btn-primary.pull-right(href="/agent/newattraction") הוספת אפליקציה
              hr
              table.table
                
                thead
                  tr
                    th שם
                    th סוג
                    th קבוצה
                    th עיר
                    th איזור
                    th מחיר
                    th
                tbody
                  for attraction in attractions
                    tr
                      td
                        a(href="")= attraction.name
                      td= attraction.type
                      td= attraction.groups
                      td= attraction.city
                      td= attraction.area
                      td= attraction.price
                      td
                        a.btn.btn-danger.btnremove(data-id="#{attraction._id}") <i class="fa fa-trash" aria-hidden="true"></i>

              





